@model List<Casgem_Portfolio.Models.Entities.TblMessage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}

<h2>Gelen Kutusu</h2>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesajı Aç</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.MessageSubmit</td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-info">Mesajı Aç</a></td>
            <td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>