@model List<Casgem_Portfolio.Models.Entities.TblService>
<!--Listeleri hafizasinda tutan yapi-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Hizmet Listesi</h2>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Güncelle</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ServiceID</td>
    <td>@item.ServiceTitle</td>
    <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
</tr>
    }
</table>
<a href="/Service/AddService" class="btn btn-outline-success">Yeni Hizmet Girişi</a>